<?xml version="1.0" encoding="UTF-8"?>
<!-- 鏃ュ織绾у埆浠庝綆鍒伴珮鍒嗕负TRACE < DEBUG < INFO < WARN < ERROR < FATAL锛屽鏋滆缃负WARN锛屽垯浣庝簬WARN鐨勪俊鎭兘涓嶄細杈撳嚭 -->
<configuration scan="true" scanPeriod="10 seconds">

    <contextName>logback</contextName>
    <!-- name鐨勫€兼槸鍙橀噺鐨勫悕绉帮紝value鐨勫€兼椂鍙橀噺瀹氫箟鐨勫€笺€傞€氳繃瀹氫箟鐨勫€间細琚彃鍏ュ埌logger涓婁笅鏂囦腑銆傚畾涔夊彉閲忓悗锛屽彲浠ヤ娇鈥?{}鈥濇潵浣跨敤鍙橀噺銆?-->
    <springProperty scope="context" name="log.path" source="logging.path"/>
    <!-- 鏃ュ織鏍煎紡 -->
    <conversionRule conversionWord="clr" converterClass="org.springframework.boot.logging.logback.ColorConverter"/>
    <conversionRule conversionWord="wex"
                    converterClass="org.springframework.boot.logging.logback.WhitespaceThrowableProxyConverter"/>
    <conversionRule conversionWord="wEx"
                    converterClass="org.springframework.boot.logging.logback.ExtendedWhitespaceThrowableProxyConverter"/>

    <!-- 杈撳嚭鍒版帶鍒跺彴 -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <!-- 姝ゆ棩蹇梐ppender鏄负寮€鍙戜娇鐢紝鍙厤缃渶搴曠骇鍒紝鎺у埗鍙拌緭鍑虹殑鏃ュ織绾у埆鏄ぇ浜庢垨绛変簬姝ょ骇鍒殑鏃ュ織淇℃伅 -->
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>info</level>
        </filter>
        <encoder>
            <pattern>%d{yy-MM-dd.HH:mm:ss.SSS} [%-16t] %-5p %-22c{0}%X{ServiceId} -%X{trace-id} %m%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <!--杈撳嚭鍒版枃浠?->
    <!-- 鏃堕棿婊氬姩杈撳嚭 level涓?INFO 鏃ュ織 -->
    <appender name="INFO_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!-- 姝ｅ湪璁板綍鐨勬棩蹇楁枃浠剁殑璺緞鍙婃枃浠跺悕 -->
        <file>./data/log/log_info.log</file>
        <!--鏃ュ織鏂囦欢杈撳嚭鏍煎紡-->
        <encoder>
            <pattern>%d{yy-MM-dd.HH:mm:ss.SSS} [%-16t] %-5p %-22c{0}%X{ServiceId} -%X{trace-id} %m%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
        <!-- 鏃ュ織璁板綍鍣ㄧ殑婊氬姩绛栫暐锛屾寜鏃ユ湡锛屾寜澶у皬璁板綍 -->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- 姣忓ぉ鏃ュ織褰掓。璺緞浠ュ強鏍煎紡 -->
            <fileNamePattern>./data/log/log-info-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>100MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <!--鏃ュ織鏂囦欢淇濈暀澶╂暟-->
            <maxHistory>15</maxHistory>
            <totalSizeCap>10GB</totalSizeCap>
        </rollingPolicy>
    </appender>

    <!-- 鏃堕棿婊氬姩杈撳嚭 level涓?ERROR 鏃ュ織 -->
    <appender name="ERROR_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!-- 姝ｅ湪璁板綍鐨勬棩蹇楁枃浠剁殑璺緞鍙婃枃浠跺悕 -->
        <file>./data/log/log_error.log</file>
        <!--鏃ュ織鏂囦欢杈撳嚭鏍煎紡-->
        <encoder>
            <pattern>%d{yy-MM-dd.HH:mm:ss.SSS} [%-16t] %-5p %-22c{0}%X{ServiceId} -%X{trace-id} %m%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
        <!-- 鏃ュ織璁板綍鍣ㄧ殑婊氬姩绛栫暐锛屾寜鏃ユ湡锛屾寜澶у皬璁板綍 -->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>./data/log/log-error-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>100MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <!-- 鏃ュ織鏂囦欢淇濈暀澶╂暟銆愭牴鎹湇鍔″櫒棰勭暀锛屽彲鑷璋冩暣銆?-->
            <maxHistory>7</maxHistory>
            <totalSizeCap>5GB</totalSizeCap>
        </rollingPolicy>
        <!-- WARN 绾у埆鍙婁互涓?-->
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>WARN</level>
        </filter>
    </appender>

    <!-- 寮傛杈撳嚭 -->
    <appender name="ASYNC_FILE_INFO" class="ch.qos.logback.classic.AsyncAppender">
        <!-- 闃熷垪鍓╀綑瀹归噺灏忎簬discardingThreshold,鍒欎細涓㈠純TRACT銆丏EBUG銆両NFO绾у埆鐨勬棩蹇?榛樿鍊?1,涓簈ueueSize鐨?0%;0涓嶄涪澶辨棩蹇?-->
        <discardingThreshold>0</discardingThreshold>
        <!-- 鏇存敼榛樿鐨勯槦鍒楃殑娣卞害,璇ュ€间細褰卞搷鎬ц兘.榛樿鍊间负256 -->
        <queueSize>8192</queueSize>
        <!-- neverBlock:true 浼氫涪澶辨棩蹇?浣嗕笟鍔℃€ц兘涓嶅彈褰卞搷 -->
        <neverBlock>true</neverBlock>
        <!--鏄惁鎻愬彇璋冪敤鑰呮暟鎹?->
        <includeCallerData>false</includeCallerData>
        <appender-ref ref="INFO_FILE"/>
    </appender>

    <appender name="ASYNC_FILE_ERROR" class="ch.qos.logback.classic.AsyncAppender">
        <!-- 闃熷垪鍓╀綑瀹归噺灏忎簬discardingThreshold,鍒欎細涓㈠純TRACT銆丏EBUG銆両NFO绾у埆鐨勬棩蹇?榛樿鍊?1,涓簈ueueSize鐨?0%;0涓嶄涪澶辨棩蹇?-->
        <discardingThreshold>0</discardingThreshold>
        <!-- 鏇存敼榛樿鐨勯槦鍒楃殑娣卞害,璇ュ€间細褰卞搷鎬ц兘.榛樿鍊间负256 -->
        <queueSize>1024</queueSize>
        <!-- neverBlock:true 浼氫涪澶辨棩蹇?浣嗕笟鍔℃€ц兘涓嶅彈褰卞搷 -->
        <neverBlock>true</neverBlock>
        <!--鏄惁鎻愬彇璋冪敤鑰呮暟鎹?->
        <includeCallerData>false</includeCallerData>
        <appender-ref ref="ERROR_FILE"/>
    </appender>

    <!-- 寮€鍙戠幆澧冿細鎺у埗鍙版墦鍗?-->
    <springProfile name="dev">
        <logger name="com.nmys.view" level="debug"/>
    </springProfile>

    <root level="info">
        <appender-ref ref="CONSOLE"/>
        <!-- 寮傛鏃ュ織-INFO -->
        <appender-ref ref="ASYNC_FILE_INFO"/>
        <!-- 寮傛鏃ュ織-ERROR -->
        <appender-ref ref="ASYNC_FILE_ERROR"/>
    </root>

</configuration>
